<%- include("partials/header") -%>
<div class="movie-item">
    <% for(i in newMovieItem){%>
      <div class="movie-info">
        <h2 class="name">
      <a class="name" href="/movie/<%= newMovieItem[i].id  %> "><%= newMovieItem[i].name.substring(0,50) %></a>
    </h2 class="name">
    <p  class="about" ><%= newMovieItem[i].about.substring(0,250) %>...</p>
      </div>
  <%}%>
  </div>

<%- include("partials/footer") -%>
