<%- include("partials/header") -%>

<div class="movie-container">
  <h1 class="name article"><%= currentMovie.name %></h1>
  <h2 class="director article"><%= currentMovie.director %></h2>
  <h3 class="stars article"><%= currentMovie.stars %></h3>
  <p class="about article"><%= currentMovie.about %></p>
</div>
<div class="button-container">
  <form class="delete-form" action="/movie/<%=currentMovie.id%> " method="POST">
    <button class="movie-button" type="submit">delete this movie</button>
  </form>
  <form
    class="update-form"
    action="/update-movie/<%= currentMovie.id  %> "
    method="GET"
  >
    <button class="movie-button" type="submit">update this movie</button>
  </form>
</div>
<%- include("partials/footer") -%>
