<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Update screen</h1>
    <h2><%= updateMovie.name %></h2>
    <h3><%= updateMovie.director %></h3>
    <h4><%= updateMovie.stars %></h4>
    <p><%= updateMovie.about %></p>
    <hr />
    <form action="/update-movie/<%= updateMovie.id  %> " method="POST">
      <input type="text" name="updatedName" placeholder="movie name" /><br />
      <input
        type="text"
        name="updatedDirector"
        placeholder="movie director"
      /><br />
      <input type="text" name="updatedStars" placeholder="movie stars" /><br />
      <textarea name="updatedAbout" id="" cols="30" rows="10"></textarea> <br />
      <button type="submit">Updated movie</button>
    </form>
  </body>
</html>
