<%- include("partials/header") -%>

<div class="add-update-container">
  <h3 class="updated-name">Update <%= updateMovie.name %></h3>
  <form
    class="add-update-form"
    action="/update-movie/<%= updateMovie.id  %> "
    method="POST"
  >
    <input
      type="text"
      name="updatedName"
      placeholder="movie name"
      value="<%= updateMovie.name %>"
    /><br />
    <input
      type="text"
      name="updatedDirector"
      placeholder="movie director"
      value="<%= updateMovie.director %>"
    /><br />
    <input
      type="text"
      name="updatedStars"
      placeholder="movie stars"
      value="<%= updateMovie.stars %>"
    /><br />
    <textarea name="updatedAbout" id="" cols="80" rows="15">
<%= updateMovie.about %></textarea
    >
    <br />
    <button class="movie-button" type="submit">Updated movie</button>
  </form>
</div>

<%- include("partials/footer") -%>
